# -u <username> : defines with what user id arpwatch should run
# -e <email>    : the <email> where to send the reports
# -s <from>     : the <from>-address
OPTIONS="-i bond0 -f /nfsshares/arpwatch_data/arp.dat -u root -e root -s 'arpwatch@mtis.by'"
